[Desktop Entry]
Type=Application
Name=Plconv
GenericName=Plconv
Categories=Office;Spreadsheet;
Exec=plconv
StartupNotify=true
Terminal=false
Icon=plconv
